<clr-main-container class="main-container"> 
    <!-- Main App Header -->
    <clr-header>
        <div class="branding">
            <div style="width:40px;margin-right:10px;padding-top:15px;"><hf-logo></hf-logo></div>
            <span class="title">flowdaq</span>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a *ngFor="let header of appHeaderItems let idx = index" class="nav-link" [routerLink]="header.href" routerLinkActive="active" ><span class="nav-text">{{ header.label }}</span></a>
        </div>
        <div class="header-actions">
            <label style="line-height: 60px;"> {{userDisplayeName}}</label>
            <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a *ngIf="userRole === 'admin'" (click)="createAdmin()" clrDropdownItem>Create admin</a>
                <a *ngIf="userRole === 'admin'" (click)="createDistributor()" clrDropdownItem>Create distributor</a>
                <a *ngIf="userRole === 'distributor'" href="/" clrDropdownItem>Create customers</a>
                <a [routerLink]="'/logout'" clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <div class="alert-padding">
        <div *ngIf="adminSuccessMsg" class="alert alert-success" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{adminSuccessMsg}}</span>
                </div>
            </div>
            <button type="button" class="close" (click)="closeAdminSuccess()" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
        </div>
        <div *ngIf="distributorSuccessMsg" class="alert alert-success" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{distributorSuccessMsg}}</span>
                </div>
            </div>
            <button type="button" class="close" (click)="closeDistributorSuccess()" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
        </div>
    </div>
    <router-outlet></router-outlet>
</clr-main-container>
    
<clr-modal [(clrModalOpen)]="adminCreateModal" [clrModalClosable]="false">
    <h3 class="modal-title" >Add new admin user</h3>
    <div class="modal-body">
        <form clrForm class="clr-form clr-form-horizontal">
            <clr-input-container>
                <label>Username</label>
                <input type="text" clrInput name="adminUserName" [(ngModel)]="createAdminObject.userName" placeholder="Admin user name"/>
            </clr-input-container>
            <clr-input-container>
                <label>Email</label>
                <input type="text" clrInput name="adminEmail" [(ngModel)]="createAdminObject.email" placeholder="Admin email" />
            </clr-input-container>
            <clr-input-container>
                <label>First Name</label>
                <input type="text" clrInput name="adminirstName" [(ngModel)]="createAdminObject.firstName" placeholder="Admin first name"/>
            </clr-input-container>
            <clr-input-container>
                <label>Last Name</label>
                <input type="text" clrInput name="adminLastName" [(ngModel)]="createAdminObject.lastName" placeholder="Admin last name" />
            </clr-input-container>
            <clr-input-container>
                <label>Role</label>
                <input type="text" clrInput name="adminRole"  [(ngModel)]="createAdminObject.role" placeholder="Admin role" readonly/>
            </clr-input-container>
        </form>
        <div *ngIf="adminErrorMsg" class="alert alert-danger" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{adminErrorMsg}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelAdmin()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveAdmin()">Save</button>
    </div>
</clr-modal>
    
<clr-modal [(clrModalOpen)]="distributorCreateModal" [clrModalClosable]="false">
    <h3 class="modal-title" >Add new distributor</h3>
    <div class="modal-body">
        <form clrForm class="clr-form clr-form-horizontal">
            <clr-input-container>
                <label>Username</label>
                <input type="text" clrInput name="distributorUserName" [(ngModel)]="createDistributorObject.userName" placeholder="Distributor user name"/>
            </clr-input-container>
            <clr-input-container>
                <label>Email</label>
                <input type="text" clrInput name="distributorEmail" [(ngModel)]="createDistributorObject.email" placeholder="Distributor email" />
            </clr-input-container>
            <clr-input-container>
                <label>First Name</label>
                <input type="text" clrInput name="distributorFirstName" [(ngModel)]="createDistributorObject.firstName" placeholder="Distributor first name"/>
            </clr-input-container>
            <clr-input-container>
                <label>Last Name</label>
                <input type="text" clrInput name="distributorLastName" [(ngModel)]="createDistributorObject.lastName" placeholder="Distributor last name" />
            </clr-input-container>
            <clr-input-container>
                <label>Company Name</label>
                <input type="text" clrInput name="distributorCompany" [(ngModel)]="createDistributorObject.companyName" placeholder="Company name" />
            </clr-input-container>
             <clr-input-container>
                <label>Address Line 1</label>
                <input type="text" clrInput name="addressLine1" [(ngModel)]="createDistributorObject.addressLine1" placeholder="Address Line 1" />
            </clr-input-container>
            <clr-input-container>
                <label>Address Line 2</label>
                <input type="text" clrInput name="addressLine2" [(ngModel)]="createDistributorObject.addressLine2" placeholder="Address Line 2" />
            </clr-input-container>
            <clr-input-container>
                <label>Address Line 3</label>
                <input type="text" clrInput name="addressLine3" [(ngModel)]="createDistributorObject.addressLine1" placeholder="Address Line 3" />
            </clr-input-container>
            <clr-input-container>
                <label>City</label>
                <input type="text" clrInput name="city" [(ngModel)]="createDistributorObject.city" placeholder="City name" />
            </clr-input-container>
            <clr-input-container>
                <label>State</label>
                <input type="text" clrInput name="state" [(ngModel)]="createDistributorObject.state" placeholder="State name" />
            </clr-input-container>
            <clr-input-container>
                <label>Country</label>
                <input type="text" clrInput name="country" [(ngModel)]="createDistributorObject.country" placeholder="Country name" />
            </clr-input-container>
            <clr-input-container>
                <label>Postal Code</label>
                <input type="text" clrInput name="postalCode" [(ngModel)]="createDistributorObject.postalCode" placeholder="Postal Code" />
            </clr-input-container>
        </form>
        <div *ngIf="distributorErrorMsg" class="alert alert-danger" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{distributorErrorMsg}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelDistributor()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveDistributor()">Save</button>
    </div>
</clr-modal>