<div class="f-login-pg">
    <div class="f-login-pg-head">
        <div style="width:100px;"><f-logo></f-logo></div>
    </div>    
    <form *ngIf="!successMsg" class="f-login-pg-form" style="margin-bottom: -30px;" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <div style="margin-bottom: -30px;" > 
        <label style="display: block;margin-bottom: -6px;" for="email">Email address</label>  
        <input type="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="(submitted || f.email.touched) && f.email.errors" style="color:red; font-weight: bold;">
            <div *ngIf="f.email.errors.required">Email address required</div>
        </div>
        <div class="f-login-pg-foot">
            <div *ngIf="errMsg" style="color:red; font-weight: bold; margin-top: -20px">{{errMsg}}</div>
        </div>
    </div>
    <div class="form-group" >
        <button [disabled]="loading" class="btn btn-primary f-login-pg-btn">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
   </form>   
    <div class="f-login-pg-foot">
        <div *ngIf="successMsg" style="margin: 50px 0 50px 0; text-align: center; color:red; font-weight: bold">{{successMsg}}</div>
    </div>
</div>
