@import '../../../assets/scss/var';

@media screen and (max-width: 767px) {
    .desktop-hidden {
        display: initial;
     }
    .mobile-hidden {
        display: none;
     }
  }
@media screen and (min-width: 767px) {
     .desktop-hidden {
         display: none;
     }
     .mobile-hidden {
         display: initial;
     }
 }
  
@media screen and (max-width: 1024px) {
    .info, .ngx-datatable {
        text-align: left;
        width: 90%;
        margin: 0 auto;
    }
 } 

.f-list-selection {
    border: none;
    background-color: inherit;
    margin-bottom: 1rem;
    box-shadow: none;
}    
f-devices-pg{
.padding-20 {
  ngx-datatable {
    datatable-header {background-color: #FAFAFB;}
  }
}

.padding-20 {
  ngx-datatable {
    material {
       datatable-header {
          datatable-header-cell {background-color: #FAFAFB;}
       }
    }    
  }
}



.padding-20 .ngx-datatable.material .datatable-header .datatable-header-cell {background-color: #FAFAFB;}
.padding-20 .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {background-color: #FAFAFB;}
}
