<div class="padding-20">
    <div class="clr-row">
        <div class="clr-col-lg-1 clr-col-md-1 clr-col-sm-3 clr-col-12"></div>
        <div class="clr-col-lg-10 clr-col-md-10 clr-col-sm-6 clr-col-12">
            <div class="card f-list-selection">
                <div class="card-header">
                    Devices list for customer <strong>{{customerName}}</strong>
                </div>
                <div class="card-block">
                    <div class="card-media-block wrap">         
                        <div class="card-media-description">
                            <span class="card-media-text">Expand the row to see the device address details.</span>
                        </div>
                    </div>             
                    <div *ngIf="selected.length">
                        <div style="margin-bottom: 10px;">
                            <span class="card-media-title">
                                You can 
                                <small>
                                    <a href="javascript:void(0)" (click)="remove()">remove</a>
                                </small>
                                selected device.
                            </span>
                        </div>
                        
                        <div *ngFor="let sel of selected" style="display: flow-root;margin-bottom: 10px;">
                            <div style="float: left;"><strong>{{ sel.companyName }}</strong></div>

							<div class="btn-group btn-outline-primary btn-sm" style="float: right;">
                                <button class="btn btn-sm" (click)="editDevice(sel)"><clr-icon shape="pencil"></clr-icon> Edit</button>
                                <button class="btn btn-sm" (click)="createDelivery(sel)"><clr-icon shape="plus"></clr-icon> Delivery</button> 
                            </div>
                         </div>
                    </div>              
               </div>
           </div>         
       </div>
       <div class="clr-col-lg-1 clr-col-md-1 clr-col-sm-3 clr-col-12"></div>
    </div>
    <div class="clr-row">
        <ngx-datatable 
             #myTable 
             class="material" 
             [rows]="rows" 
             [columnMode]="ColumnMode.force" 
             [headerHeight]="70" 
             [footerHeight]="50" 
             rowHeight="auto" 
             [scrollbarV]="false" 
             [sorts]="[{prop: 'name', dir: 'desc'}]"
             (page)="onPage($event)"
             [limit]="5"
             [selected]="selected"
             [selectionType]="SelectionType.single"
             (activate)="onActivate($event)"
             (select)="onSelect($event)"
         > 
         
            <!-- Row Detail Template -->  
            <ngx-datatable-column name="Device Id" [flexGrow]="1" [minWidth]="70" [maxWidth]="200">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.coolerIdentifier}}</span>
                </ng-template>
            </ngx-datatable-column>
              
            <ngx-datatable-column name="Customer" prop="companyName" [flexGrow]="3" [minWidth]="200" [maxWidth]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{customerName}}</strong>
                </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Full" [flexGrow]="1" [minWidth]="70" [maxWidth]="200">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.currentFull}}</span>
                </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Empty" [flexGrow]="1" [minWidth]="70" [maxWidth]="200">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.currentEmpty}}</span>
                </ng-template>
            </ngx-datatable-column>      
        
            <ngx-datatable-column name="Name" [flexGrow]="2" [minWidth]="70" [maxWidth]="200">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.deviceName}}</span>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
    <div *ngIf="isLoading" class="spinner spinner-lg">Loading...</div>
</div>











