<div class="padding-20">
    <div *ngIf="distributorSuccessMsg" class="alert alert-success" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">{{distributorSuccessMsg}}</span>
            </div>
        </div>
        <button type="button" class="close" (click)="closeDistributorSuccess()" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
    <div class="clr-row">
        <div class="clr-col-lg-2 clr-col-md-1 clr-col-sm-3 clr-col-12"></div>
        <div class="clr-col-lg-8 clr-col-md-10 clr-col-sm-6 clr-col-12">
            <div class="card f-list-selection">
                <div class="card-header">
                    Distributor List
                </div>
                <div class="card-block">
                    <div class="card-media-block wrap">         
                        <div class="card-media-description">
                            <span class="card-media-text">You can enable/disable, delete and amend distributor. You will be able to view the rest of the tabs as he could see them.</span>
                        </div>
                    </div>             
                    <div *ngIf="selected.length">
                        <div style="margin-bottom: 10px;">
                            <span class="card-media-title">
                                You can 
                                <small>
                                    <a href="javascript:void(0)" (click)="remove()">remove</a>
                                </small>
                                selected distributor. 
                            </span>
                        </div>
                        <div *ngFor="let sel of selected" style="display: flow-root;margin-bottom: 10px;">
                            <div style="float: left;"><strong>{{ sel.distributorName }}</strong></div>

							<div class="btn-group btn-outline-primary btn-sm" style="float: right;">
                                <button class="btn btn-sm" (click)="editDistributor(sel)"><clr-icon shape="pencil"></clr-icon> Edit</button>
                                <button *ngIf="!selected[0].enabled" class="btn btn-sm" (click)="enableDistributor(sel)"><clr-icon shape="unlock"></clr-icon> </button>
                                <button *ngIf="selected[0].enabled" class="btn btn-sm" (click)="disableDistributor(sel)"><clr-icon shape="lock"></clr-icon> </button>
                                <button class="btn btn-warning btn-sm" (click)="deleteDistributor(sel)"><clr-icon shape="trash"></clr-icon> Delete</button>
                            </div>
                         </div>
                    </div>              
               </div>
           </div>          
       </div>
        <div class="clr-col-lg-2 clr-col-md-1 clr-col-sm-3 clr-col-12"></div>
    </div>
    <div class="clr-row">
        <ngx-datatable 
             #myTable 
             class="material expandable" 
             [rows]="rows" 
             [columnMode]="ColumnMode.force" 
             [headerHeight]="70" 
             [footerHeight]="50" 
             rowHeight="auto" 
             [scrollbarV]="false" 
             [sorts]="[{prop: 'name', dir: 'desc'}]"
             (page)="onPage($event)"
             [limit]="5"
             [selected]="selected"
             [selectionType]="SelectionType.single"
             (activate)="onActivate($event)"
             (select)="onSelect($event)"
         >        
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div style="padding-left:55px;">
                        <div><strong>Address: </strong>{{ row.address.addressLine1 }}, {{ row.address.addressLine2 }}, {{ row.address.addressLine3 }}, {{ row.address.city }}, {{ row.address.state }}, {{ row.address.country }}, {{ row.address.postalCode }}</div>
                        <div><strong>Phone number: </strong>{{ row.phoneNumber }}</div>                  
                   </div>
               </ng-template>
            </ngx-datatable-row-detail> 

            <ngx-datatable-column name="UserId" [flexGrow]="1" [flexGrow]="1" [minWidth]="70" [maxWidth]="200">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.userId}}</span>
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Company Name" prop="distributorName" [flexGrow]="3" [minWidth]="200" [maxWidth]="500">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.distributorName}}</strong>
                </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Distributor Name" prop="displayName" [flexGrow]="3" [minWidth]="230" [maxWidth]="500">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.displayName}}</span>
                </ng-template>
            </ngx-datatable-column>
        
            <ngx-datatable-column name="Distributor Id" prop="distributorId" [flexGrow]="1" [minWidth]="100" [maxWidth]="200">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.distributorId}}</span>
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Enabled" prop="enabled" [flexGrow]="1" [minWidth]="100" [maxWidth]="200">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.enabled}}</span>
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Email" [flexGrow]="4" [minWidth]="250" [maxWidth]="540">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{row.email}}</span>
                </ng-template>
            </ngx-datatable-column>
 
        </ngx-datatable>
    </div>
    <div *ngIf="isLoading" class="spinner spinner-lg">Loading...</div>
</div>

<clr-modal [(clrModalOpen)]="distributorEditModal" [clrModalClosable]="false">
    <h3 class="modal-title" >Edit distributor</h3>
    <div class="modal-body">
        <form clrForm class="clr-form clr-form-horizontal">
            <clr-input-container>
                <label>Username</label>
                <input type="text" clrInput name="distributorUserName" [(ngModel)]="editDistributorObject.userName" readonly placeholder="Distributor user name"/>
            </clr-input-container>
            <clr-input-container>
                <label>Email</label>
                <input type="text" clrInput name="distributorEmail" [(ngModel)]="editDistributorObject.email" placeholder="Distributor email" />
            </clr-input-container>
            <clr-input-container>
                <label>First Name</label>
                <input type="text" clrInput name="distributorFirstName" [(ngModel)]="editDistributorObject.firstName" placeholder="Distributor first name"/>
            </clr-input-container>
            <clr-input-container>
                <label>Last Name</label>
                <input type="text" clrInput name="distributorLastName" [(ngModel)]="editDistributorObject.lastName" placeholder="Distributor last name" />
            </clr-input-container>
            <clr-input-container>
                <label>Phone number</label>
                <input type="text" clrInput name="phoneNumber" [(ngModel)]="editDistributorObject.phoneNumber" placeholder="Phone number" />
            </clr-input-container>
            <clr-input-container>
                <label>Company Name</label>
                <input type="text" clrInput name="distributorCompany" [(ngModel)]="editDistributorObject.companyName" placeholder="Company name" />
            </clr-input-container>
             <clr-input-container>
                <label>Address Line 1</label>
                <input type="text" clrInput name="addressLine1" [(ngModel)]="editDistributorObject.addressLine1" placeholder="Address Line 1" />
            </clr-input-container>
            <clr-input-container>
                <label>Address Line 2</label>
                <input type="text" clrInput name="addressLine2" [(ngModel)]="editDistributorObject.addressLine2" placeholder="Address Line 2" />
            </clr-input-container>
            <clr-input-container>
                <label>Address Line 3</label>
                <input type="text" clrInput name="addressLine3" [(ngModel)]="editDistributorObject.addressLine1" placeholder="Address Line 3" />
            </clr-input-container>
            <clr-input-container>
                <label>City</label>
                <input type="text" clrInput name="city" [(ngModel)]="editDistributorObject.city" placeholder="City name" />
            </clr-input-container>
            <clr-input-container>
                <label>State</label>
                <input type="text" clrInput name="state" [(ngModel)]="editDistributorObject.state" placeholder="State name" />
            </clr-input-container>
            <clr-input-container>
                <label>Country</label>
                <input type="text" clrInput name="country" [(ngModel)]="editDistributorObject.country" placeholder="Country name" />
            </clr-input-container>
            <clr-input-container>
                <label>Postal Code</label>
                <input type="text" clrInput name="postalCode" [(ngModel)]="editDistributorObject.postalCode" placeholder="Postal Code" />
            </clr-input-container>
            <clr-input-container>
                <label>Id</label>
                <input type="text" clrInput name="id"  [(ngModel)]="editDistributorObject.id" readonly placeholder="Distributor id" />
            </clr-input-container>
        </form>
        <div *ngIf="distributorErrorMsg" class="alert alert-danger" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        {{distributorErrorMsg}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelDistributor()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveDistributor()">Save</button>
    </div>
</clr-modal>